/* *{
    margin: 0;
    padding: 0;
}

input{
    width: 350px;
    height: 45px;
    background: rgba(222, 218, 218, 0.502);
    border: pink solid 1px;
    border-radius: 15px;
}
button{
    width: 200px;
    height: 35px;
    border: pink solid 1px;
    border-radius: 15px;
    background: rgba(222, 218, 218, 0.502);
} */
